html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    display: flex;
    flex-direction: column;
    background:lightskyblue;
    overflow:hidden;
  }

  .header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;

  }
  

  .boxes {
    display: flex;  
    gap: 2rem;
    padding: 2rem;
    background-color: rgb(93, 36, 116);
  }
  
  .box {
    flex:1;
    border-width: 2px;
    background-color: rgb(219, 159, 110);
    border-radius: 2.5rem;

  }
  
  .player {
    text-align: center;
    padding:2rem;
    border:solid (166, 91, 75);

  }
  
  
