html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    display: flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    background:lightskyblue;
    overflow:hidden;
  }

  .header{
    display: flex;
    height:8vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;

  }

  .header > h1 {
  margin-top: 1.5rem;
  }


  .boxes {
    height:90vh;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: rgb(93, 36, 116);
  }
  
  .box {
    flex:1;
    border-width: 2px;
    text-align: center;
    background-color: rgb(219, 159, 110);
    border-radius: 2.5rem;
    padding:2rem;
    border:solid (166, 91, 75);
  }
  
  .table {
    display: grid;
    place-items: center;
    height: 55.5vh;
    width: 15vw;
    padding: 4rem;
    border: solid black;
    border-radius: 2rem;
    margin-top: 1.5rem;
  }
  
