html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* prevent scroll */
}


main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: lightskyblue;
}

  
  @font-face {
  font-family: 'ErasBoldITC';
  src: url('./fonts/eras-itc-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }


  .header{
    display: flex;
    height:8vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(33, 13, 54);

  }

  .header > h1 {
  margin-top: 1.5rem; 
  color: white;    
  }

  .reminder {
  height: 1.5em;           /* Reserve vertical space */
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

 
.reminder-red {
  background-color: #ffe5e5;
  border: 1px solid #a00;
  border-radius: 0.5rem;
  color: red;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}

.reminder-green {
  background-color: #e0f8e0;
  border: 1px solid green;
  border-radius: 0.5rem;
  color: green;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
}

  .boxes {
    height:92vh;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    background-color: rgb(80, 27, 82);
  }
  
  .box {
    flex:1;
    border-width: 2px;
    text-align: center;
    background-color: rgb(184, 115, 83);
    border-radius: 2.5rem;
    padding:2rem;
    border:solid (166, 91, 75);
  }
  
  .table {
    display: grid;
    place-items: center;
    height: 60vh;
    width: 17vw;
    padding: 4rem;
    background: rgb(219, 159, 110);
    border: solid black;
    border-radius: 2rem;
    margin-top: 1.5rem;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);  /* 2 rows */
    height: 58vh;
    width: 17vw;
  }

  .days {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
  }

  .statuses {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(7,1fr);
    gap: 3rem;
  }

  .green {
    display: grid;
    place-items: center;
    background-color: rgb(28, 158, 28);
    border-radius: 1rem;
    height: 60px;
    width: 60px;
  }

  .orange {
    display: grid;
    place-items: center;
    background-color: rgb(255, 154, 23);
    border-radius: 1rem;
    height: 60px;
    width: 60px;
  }

  .red {
    display: grid;
    place-items: center;
    background-color: rgb(250, 25, 25);
    border-radius: 1rem;
    height: 60px;
    width: 60px;
  }

   body {
  font-family: 'ErasBoldITC', sans-serif;
  }

  h1, h2 {
  font-family: 'ErasBoldITC', sans-serif;
  }