html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: lightskyblue;
}

@font-face {
  font-family: 'ErasBoldITC';
  src: url('./assets/eras-itc-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  height: 8vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(33, 13, 54);
}

.header > h1 {
  margin-top: 1.5rem;
  color: rgb(219, 159, 110);
}

.reminder {
  height: 1.5em;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.reminder-red {
  background-color: #ffe5e5;
  border: 0.1em solid #a00;
  border-radius: 0.5em;
  color: red;
  padding: 0.25em 0.5em;
  font-size: 0.85em;
}

.reminder-green {
  background-color: #e0f8e0;
  border: 0.1em solid green;
  border-radius: 0.5em;
  color: green;
  padding: 0.25em 0.5em;
  font-size: 0.85em;
}

.boxes {
  height: 92vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2vw;
  background-color: rgb(80, 27, 82);
  box-sizing: border-box;
}

.box {
  flex: 1 1 20em;
  border-width: 0.15em;
  text-align: center;
  background-color: rgb(184, 115, 83);
  border-radius: 2.5em;
  padding: 2vw;
  border: solid rgb(166, 91, 75);
  min-width: 15em;
  box-sizing: border-box;
}

.input {
  height: 2em;
  width: 15em;
  font-size: 1.25em;
}

.table {
  display: grid;
  place-items: center;
  height: 80%;
  width: 100%;
  padding: 2vw;
  background: rgb(219, 159, 110);
  border: solid black;
  border-radius: 2em;
  margin-top: 1.5em;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 1vw;
  box-sizing: border-box;
}

.days, .statuses {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(7, 1fr);
  gap: 0.5em;
}

.statuses {
  place-items: center;
  gap: 1em;
}

.green {
  display: grid;
  place-items: center;
  background-color: rgb(28, 158, 28);
  border: 2px solid black;
  border-radius: 1em;
  width: 5vw;
  height: 5vw;
  min-width: 2em;
  min-height: 2em;
  max-width: 4em;
  max-height: 4em;
}

.orange {
  display: grid;
  place-items: center;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 1em;
  width: 5vw;
  height: 5vw;
  min-width: 2em;
  min-height: 2em;
  max-width: 4em;
  max-height: 4em;
}

.red {
  display: grid;
  place-items: center;
  background-color: rgb(250, 25, 25);
  border:  2px solid black;
  border-radius: 1em;
  width: 5vw;
  height: 5vw;
  min-width: 2em;
  min-height: 2em;
  max-width: 4em;
  max-height: 4em;
}

body {
  font-family: 'ErasBoldITC', sans-serif;
}

h1, h2 {
  font-family: 'ErasBoldITC', sans-serif;
}
